extends layout

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index_style.css">
</head>
<body>
<div id="div1">
<h1>US CINEMA</h1>
<form method="post" action="verifyLogin" onsubmit="return validateForm()">
    <p><input type="text" name="username" id="username" placeholder="Username"></p>
    <p><input type="password" name="password" id="password" placeholder="Password"></p>
    <p><input type="submit" value="SUBMIT"></p>
    <p><input type="button" value="Create an account" onclick="location.href='createaccount.html'"></input></p>
</form>
</div>
</body>
</html>